@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W0);
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;

  font-size: 1.2rem;
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Hiragino Sans", sans-serif;
  font-weight: 300;
}

#container {
  text-align: center;
}

h1 {
  font-size: 36px;
}
